

body{
  background-image: linear-gradient(to bottom right, #bbdbbe, #deebdd);
//   margin: auto;
}

.gam {
    display: flex;
    width: 70vw;
    height: 75vh;
    // border: 5px solid greenyellow;
    margin: auto;
    margin-bottom: 5vh;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
}

.list{
    // border: 1px solid red;
    height: 100%;
    width: 100%;
    // padding: 3px;
    margin: auto;
    box-sizing: border-box;
}

.flower-pot{
    float: left;
    width: 33.3%;
    height: 33.3%;
    // border:3px solid purple;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    // padding: 10px;
}

.flower-pot > img {
    object-fit: cover;
}

.soil{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    // border: turquoise 2px solid;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    // object-fit: contain;
    // margin-bottom: -15px;
    z-index: 1;
}

.avocado{
    // display: none;
    // margin-bottom: 0%;
    width: 20%;
    height: 30%;
    // z-index: -1;
    opacity: 0;
    transform: translateY(150);
    transition: transform 3s ease, opacity 1s;
}

.new-avocado{
    width: 20%;
    height: 30%;
    // z-index: -1;
    // display: block;
    // margin-bottom: 40%;
    transform: translateY(-175px);
    transition: transform 1s ease, opacity 0.5s;
    // -webkit-transition: transform 2s;
}

nav {
    width: 100vw;
    height: 17vh;
    margin-top: 3vh;
    // background-color: rgb(75, 163, 113);
    // border: 5px solid purple;
    box-sizing: border-box;
    background-image: linear-gradient(to bottomright, #347c3b, #13a808);
}

.top-nav {
    // border: 12px double yellow;
    // align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.title{
    font-size: 50px;
    color: darkgreen;
    font-family: 'Architects Daughter', cursive;    
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    box-sizing: border-box;
    // border: 2px dotted blue;
}

.information{
    display: flex;
    gap: 10%;
    justify-content: center;
    font-size: 35px;
    box-sizing: border-box;
    // border:2px solid blueviolet;
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    // border: 10px double gold ;
    margin: 25px;
}

.creds{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20%;
    // border: 2px solid grey;
    align-items: center;
}

.pins{
    // border: 2px solid hotpink;
    width: 50%;
    align-items: center;
}

.lowest-nav{
    // border: solid 2px burlywood;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    color: darkgreen;
    margin-bottom: 10px;
}